# Dependencias
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de uploads
uploads/*
!uploads/.gitkeep

# Registros y logs
*.log
logs/

# Cobertura de pruebas
coverage/

# Archivos temporales
tmp/
.tmp/ 